@import './buttons.css';
body{
    background-color: #43DDE6;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    position: relative;
    max-block-size: 100%;
    max-inline-size: 100%;
    box-sizing: border-box;
}
.wrapper{
    max-inline-size: 900px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.player{
    position: relative;
}
.player video{
    inline-size: 100%;
    aspect-ratio: 16/9;
    vertical-align: middle;
}
.player-title{
    color: white;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 20px;
}
.player-actions{
    position: absolute;
    inset-block-start: 0;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.player-progress{
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    display: flex;
    padding: 10PX;
}
.player-progress input{
    flex: 1;
}
.player-overlay{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: .3s opacity;
}
.player:hover .player-overlay{
    opacity: 1;
}
